<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Ashley Jelks GithubIO Resume</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/stylesheet.css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="aboutme" class="container"></div>
    <div id="project" class="container"></div>
    <div id="experience" class="container"></div>
    <div id="education" class="container"></div>
    <div id="contact" class="container"></div>

    <div id="aboutme" class="container"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#myNavabar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#aboutme">About Me</a></li>
                    <li><a href="#project">Projects</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE???
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Something1</a></li>
                            <li><a href="#">Something2</a></li>
                            <li><a href="#">Something3</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glypicon-search"></span></a></li>
                </ul>
            </div>
        </div> 
    </nav>




    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel plugin is a component for cycling through elements, like a carousel (slideshow) -->
        <!-- data-ride activates the carousel -->
        <!-- CAROUSEL INDICATORS====The indicators are the little dots at the bottom of each slide (which indicates how many slides there are in the carousel, and which slide the user are currently viewing).The indicators are specified in an ordered list with class .carousel-indicators.-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="static/img/smlNY.jpg" alt="remote cafe">
                <div class="carousel-caption">
                    <h3>Remote Cafe</h3>
                    <p>Goes Where the Tea is Good.</p>
                </div>
            </div>

            <div class="item">
                <img src="static/img/smlSF.jpg" alt="hot air balloons">
                <div class="carousel-caption">
                    <h3>Where Will She Go Next?</h3>
                    <p>Contact Her and You'll See</p>
                </div>
            </div>

            <div class="item">
                <img src="static/img/smlLA.jpg" alt="dope sf bridge shot">
                <div class="carousel-caption">
                    <h3>Currently in the San Francisco Bay Area</h3>
                    <p>Open to Opportunities Elsewhere!</p>
                </div>
            </div>

        </div>

        <!-- Left and right carousel controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
        </a>

        <a class ="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
        </a>
    </div> <!-- end carousel div -->


        <div class="container text-center">  
        <!-- centers text and imgs wrapped in this container  -->
            <h1>Ashley R. Jelks</h1>
                <p><em>Developer, Designer, Engineer, Multipotentialite</em></p>
                <p>San Francisco Bay Area, Los Angeles, New York and Remote</p>
                <br>

            <div class="row">
            <!-- row with these 3 centered images each in their own col sm 4 divs -->

                <div class="col-sm-4">
                    <p class="text-center"><strong>NY</strong></p><br>
                    <a href="#demo" data-toggle="collapse">
                        <img src="static/img/nyc-nite-skyline.jpeg" class="img-circle person" alt="nyc">
                    </a>
                    <div id="demo" class="collapse">
                        <p>Silicon Alley</p>
                    </div> 
                </div>

                <div class="col-sm-4">
                    <p class="text-center"><strong>LA</strong></p><br>
                    <a href="#demo2" data-toggle="collapse">
                        <img src="static/img/losangels.jpeg" class="img-circle person" alt="la">
                    </a> 
                    <div id="demo2" class="collapse">
                        <p>Silicon Beach</p>
                    </div>              
                </div>

                <div class="col-sm-4">
                    <p class="text-center"><strong>SF</strong></p><br>
                    <a href="#demo3" data-toggle="collapse">
                        <img src="static/img/smlSF.jpg" class="img-circle person" alt="SF">
                    </a>
                    <div id="demo3" class="collapse">
                        <p>Silicon Valley</p>
                    </div> 
                </div>
                    <!-- each div is contained in a circle and converted to a link that on data-toggle click drops down text (silicon alley, beach, valley) -->

            </div> <!-- contain div -->
    

        <div class="bg-1">
            <div class="container">
                <h3 class="text-center">EXPERIENCE AND EXPERTISE</h3>
                    <p class="text-center">Put a description of history and exp. here.<br>And some more here if you need to....</p>
                        <ul class="list-group">
                            <li class="list-group-item">List item of exp1 <span class="label label-danger">Huh?</span></li>
                            <li class="list-group-item">List item of exp2<span class="label label-danger">Hoh?</span></li>
                            <li class="list-group-item">List item of exp3<span class="badge">:)</span></li>
                        </ul>
                        <!-- added badge and labels classes on span tags to create inline messages --> 
                
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="static/img/smlLA.jpg" alt="LA">
                                    <p><strong>Check Out Ashley's Github</strong></p>
                                    <a href="http://www.google.com"><button class="btn">Github</button></a>
                            </div>
                        </div>   
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="static/img/smlLA.jpg" alt="LA">
                                    <p><strong>Check Out Ashley's Github</strong></p>
                                    <a href="http://www.google.com"><button class="btn">Github</button></a>
                            </div>
                        </div>  
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="static/img/smlLA.jpg" alt="LA">
                                    <p><strong>Check Out Ashley's Github</strong></p>
                                    <a href="http://www.google.com"><button class="btn">Github</button></a>
                            </div>
                        </div>  
                    </div>    
            </div>
        </div>

    <div class="container">
        <h3 class="text-center">Interested in Contacting Ashley?</h3>
            <p class="text-center"><em>Always open to new career and freelancing opportunities</em></p>
            <p><span class="glyphicon glyphicon-phone"></span>Phone: +1 646.648.0603</p>
            <p><span class="glyphicon glyphicon-envelope"></span>Email: arjelks@gmail.com</p>      
            <p style="font-style: 'Special Elite', cursive"><a href="https://twitter.com/madamejelks"><i class="fa fa-twitter"><span style="font-family:'Special Elite'">Twitter</span></i></a></p>
            <p><a href="http://linkedin.com/in/ashleyrjelks"><i class="fa fa-linkedin-square"><span style="font-family:'Special Elite'">LinkedIn</span></i></a></p>
            <p><a href="https://github.com/ashleyjelks"><i class="fa fa-github"><span style="font-family:'Special Elite'">Github</span></i></a></p>
            <p><a href="https://plus.google.com/u/0/+AshleyReneeJelks"><i class="fa fa-google-plus"><span style="font-family:'Special Elite'">Google+</span></i></a></p>       
    </div>

</body>

    <link rel="stylesheet" href="static/css/font/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="Return to Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Ashley R. Jelks <span><i class="fa fa-copyright"></i>  2015</span></p>
</footer>


<script type="text/javascript">
$(document).ready(function(){
    //Intialize tooltip
    $('[data-toggle="tooltip"]').tooltip();    
})

$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Prevent default anchor click behavior
  event.preventDefault();

  // Store hash
  var hash = this.hash;

  // Using jQuery's animate() method to add smooth page scroll
  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
  });
})
</script>
</html>